@*@inject AspNetIdentity.Services.UserProfile UserProfile*@
@using RektLeague.BusinessRules
<div class="bg-dark text-center" style="position:absolute; right:0; top:0; height:250px; width:150px;">
    <form id="logoutForm" action="/Account/LogOff" method="post">
        @Html.AntiForgeryToken()
        <ul class="nav">
            @if (User.Identity.IsAuthenticated)
            {
                var imgSrc = IdentityManagerBR.GetUserByteArrayBase64String(User.Identity.Name);
                if (imgSrc == String.Empty)
                {
                    imgSrc = "/Content/Images/notloggeduser.png";
                }
                <li><div class="username_style" resize>@User.Identity.Name</div></li>
                <li><img src="@imgSrc" alt="headshot" class="headshot" /></li>
                <li><a class="fa fa-sign-out" href="javascript:$('#logoutForm').submit()">Log off</a></li>
                <li><a href="/Manage/UserSettings" class="fa fa-cog"> Settings</a></li>
            }
            else
            {
                <li><img src="~/Content/Images/notloggeduser.png" alt="headshot" class="headshot" /></li>
                <li><a href="/Account/Login" class="fa fa-sign-in"> Login</a></li>
                <li><a href="/Account/Register" class="fa fa-user-plus"> Sign up</a></li>
            }
        </ul>
    </form>
</div>