<div>
    <nav id="navbar" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Rekt League</a>
            </div>

            <div class="collapse navbar-collapse" style="padding:0;" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="App" asp-action="About"> Sobre</a></li>
                    <li><a asp-controller="App" asp-action="Contact"> Contato</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" action="/WebPost/Search" method="get" role="search">
                            <div class="form-group">
                                <input type="text" name="search" class="form-control" placeholder="Pesquisar">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div style="background-color:black;height:2px;"></div>
    </nav>
</div>
<script>
    window.addEventListener("scroll", function () {
        if (window.scrollY >= 250) {
            $("#navbar").addClass("navbar-fixed-top");
        }
        else {
            $("#navbar").removeClass("navbar-fixed-top");
        }
    });
</script>